.main{
    border: 1px solid black;
    width:320px;
    height:200px;
    border-radius: 10px;
   position: relative;
   left:520px;
   top:150px;
}.main > input{
    height:50px;
    border-radius: 30px;
    position: relative;
    left:20px;
    top:20px;
}
.main > span{
    position: relative;
    top:30px;
    margin:5px;
}
::-webkit-scrollbar{
    display: none;
}
.main{
    background-color: white;
}
.main>button{
    position: relative;
    top:25px;
    left:100px;
}
.main_class{
    height:650px;
}